/* styles.css */

/* Main: */
.main {
    background-color: #38003c;
}

/* Main: Header*/
.st-emotion-cache-h4xjwg {
    background-color: #00ff85;
    color: #38003c;
}

/* Sidebar */
.eczjsme11 {
    background-color: #ffffff;
    color: #38003c;
}


/* Sidebar Button: */
.st-emotion-cache-lpgk4i {
    background-color: #e90052;
    color: #ffffff;
}

/* Sidebar hide icon: */
.ef3psqc5 {
    background-color: #38003c;
    color: #00ff85;
}

