/* styles.css */

/* Main: */
.main {
    background-color: #38003c;
}

/* Main: Header*/
.st-emotion-cache-h4xjwg {
    background-color: #00ff85;
    color: #38003c;
}

/* Sidebar */
.eczjsme18 {
    background-color: #ffffff;
    color: #38003c;
}

.eczjsme11 {
    background-color: #ffffff;
    color: #38003c;
}

.e1y5xkzn3 {
    background-color: #ffffff;
    color: #38003c;
}
/* Sidebar Button: */
.st-emotion-cache-lpgk4i {
    background-color: #e90052;
    color: #ffffff;
}

/* Sidebar hide icon: */
.ef3psqc5 {
    background-color: #38003c;
    color: #00ff85;
}

.eczjsme14 {
   background-color: #38003c;
}

.stSelectbox {
   color: #38003c;
   background-color: #FFFFFF;
}
